.panel-list{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style: none; 
    
}
.panel-list > li{
    box-shadow: 1px 1px 2px 1px rgba(37, 212, 254, 0.45), -1px -1px 2px 1px rgba(37, 212, 254, 0.45);
    padding: 5px;
    margin: 10px;
    cursor: pointer;
    color: rgb(196, 69, 20);
   
    border: 2px dashed;
}
